cffi==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
numpy==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
opencv-contrib-python==4.10.0.84 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13"
pysinewave==0.0.7 ; python_version >= "3.12" and python_version < "3.13"
sounddevice==0.4.7 ; python_version >= "3.12" and python_version < "3.13"
